@model pizzashop_repository.ViewModels.ResetPasswordViewModel

@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ResetPassword Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>

<body>
    <div class="login-main">
        <div class="row m-0 flex-coloum">
            <div class="col-lg-6 p-0 ">
                <img class="dominos-bg img-fluid" src="~/images/dominos_background.jpg" alt="">
            </div>
            <div class="col-lg-6 p-0 row2 d-flex justify-content-center">

                <div class="login-side d-flex-coloum align-content-center">

                    <form asp-action="ResetPassword" method="post">


                        <div class="d-flex justify-content-center">
                            <img class="img-fluid shop-logo" src="~/images/logos/pizzashop_logo.png" alt="">
                            <div class="ms-2 h1 text-center align-item-center shop-name" style="align-content: center;">
                                PIZZASHOP</div>
                        </div>
                        <div class="h3 mt-4 mb-4 ">Reset Your Password</div>

                        @* <input type="hidden" asp-for="Email"> *@

                        <div class="form-floating">
                            <input type="password" style="position: relative;" asp-for="NewPassword" id="password"
                                class="form-control mb-2" placeholder="NewPassword">
                            <i class="far fa-eye" id="togglePassword"
                                style=" cursor: pointer; position: absolute;  right: 12px; margin-top: -37px;"></i>
                            <label for="floatingPassword">New Password</label>
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>


                        <div class="form-floating">
                            <input type="password" style="position: relative;" asp-for="ConfirmPassword" id="password"
                                class="form-control" placeholder="ConfirmPassword">
                            <i class="far fa-eye" id="togglePassword"
                                style=" cursor: pointer; position: absolute;  right: 12px; margin-top: -37px;"></i>
                            <label for="floatingPassword">Confirm New Password</label>
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" asp-controller="Auth" asp-action="ResetPassword"
                            class="btn btn-primary login-btn mt-3 w-100 mt-2">Send</button>
                        <div class="text-center mt-2"><a class="text-decoration-none" asp-controller="Auth"
                                asp-action="Login">Back to login</a></div>
                        <div class="text-danger">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>

                    </form>

                </div>

            </div>
        </div>
    </div>

    <script>
        const eyebtn = document.getElementById("togglePassword");
        const passfield = document.getElementById('password');
        togglePassword.addEventListener('click', function (e) {
            const type = passfield.getAttribute('type') === 'password' ? 'text' : 'password';
            passfield.setAttribute('type', type);
            this.classList.toggle('fa-eye-slash');
        });
    </script>
</body>

</html>