body {
    background-color: #f2f2f2;
  
}

#main-content {
    transition: none;

}

.offcanvas.show~#main-content {
    margin-left: 300px;
}

.offcanvas-backdrop.show {
    background-color: transparent;
}

@media (max-width: 992px) {
    .offcanvas.show~#main-content {
        margin-left: 0;
    }

}

@media (min-width: 992px) {
    .navbar-pf {
        display: flex;
        justify-content: end !important;
    }
}


.modal-backdrop.show {
    opacity: 0;
    width: 0;
}

.navbar-color {
    background-color: #0066a7 !important;
}

.pfp-size {
    height: 40px;
}

.pizzasidebar {
    width: 300px;
    background-color: #ffffff;
    transition: none;
}

/* .offcanvas-body.offcanvas-header{
    width: 300px;
} */
.shop-name {
    color: #0568a8;
}

.modal-backdrop.show {
    opacity: 0;
}

.sidebar-name {
    color: #7e8696;
}

.dashboard-icon {
    width: 20px;
    height: 20px;
}

.permission-name {
    color: #7e8696;
}

.white-icon {
    color: #7e8696 !important;
}

.sidebarlist-hover:hover {
    background-color: #e9eaeb;
}

.blue-color {
    color: #0066a7;
}

.user-box {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

/* menu bar */

.menu-tabbar {
    border: none;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #0568a8;
    background-color: white;
    text-decoration: underline;

}

.nav-link {
    color: black;
}

.category-color {
    background-color: #f8f8f8;
    border-right: 1px solid #0066a7;
}

ul {
    list-style: none;
    padding-left: 0%;
}

ul li a {
    text-decoration: none;
    color: #7e8696;
    font-weight: bold;
}

.menu-new-item-btn {
    background-color: #0066a7 !important;
    color: white;

}

.g-white {
    color: #7e8696;
}

.custom-switch {
    width: 50px !important;
    height: 25px;
}
.form-check-input:checked {
    background-color: #0066a7;
    border-color: #0066a7;
}

.trash-btn {
    border: none;
    background-color: white;
}

.warning-img {
    width: 40px;
    height: 40px;

}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
}

.food-icon {
    width: 20px;
}
.category-list{
        height: 300px;
        overflow: auto;
}

.sixdot-icon{
    height: 25px;
}